.register{
    height: calc(100vh - 50px);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    ), 
    url("https://preview.redd.it/i28gaepqvlo41.png?auto=webp&s=8a698d3f1a99f85f85f62e939361fe3b5563e504");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px
}